@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker-wrapper {
  display: block !important;
  width: 110px !important;
  padding: 10px 13px !important;
  color: #27272a !important; /* --chakra-colors-gray-focus-ring */
  font-size: 0.875rem !important; /* --chakra-font-sizes-sm */
  border: 1px solid #e4e4e7 !important; /* --chakra-colors-border */
  border-radius: 0.25rem !important; /* --chakra-radii-sm */

  input {
    width: 100% !important;
  }
  .react-datepicker-ignore-onclickoutside {
    width: 100% !important;
  }
}

.react-datepicker {
  font-size: 15px !important;
  padding: 20px !important;

  .react-datepicker__header {
    background-color: white !important;
    border-bottom: none !important;
  }

  .react-datepicker__day--selected {
    background: #265A61 !important;
  }
}
